<div class="span12">
<h1>Welcome to Ewhurst History Society</h1>
</div>


  <section class="span3">
    <h2>Ewhurst History Society</h2>
    <p>The Society meets on the 3rd Tuesday of the month at the Baptist Church, The Street, Ewhurst. We have a programme of talks from September - May, with additional social events and visits in June &amp; July. In addition a small group meets on an informal basis to further research into local history. Our latest project, 'Ewhurst Houses and People', has recently been published and is available to order from the <%= link_to "publications", publications_url %> page. We have also published two other books on local history and have organised several Local History Exhibitions.</p>
  </section>

  <section class="span3">
    <h2>First World War</h2>
    <% if @current_first_world_war_page %>
      <%= link_to @current_first_world_war_page.title, @current_first_world_war_page.full_path %>
    <% end %>
    </section>

  <section class="span3">
    <h2><%= link_to "Next meeting", programme_url %></h2>
    <% if @next_meeting %>
      <p class="date"><%= @next_meeting.published_at.to_s(:calendar) %></p>
      <p><%= @next_meeting.title %></p>
    <% else %>
      <p>The next programme meeting has yet to be scheduled</p>
    <% end %>

    <% unless @next_events.empty? %>
      <h2><%= link_to "Upcomming Events", programme_url %></h2>
      <% @next_events.each do |next_event| %>
        <p class="date"><%= @next_meeting.published_at.to_s(:calendar) %></p>
        <p><%= @next_meeting.title %></p>
      <% end %>
    <% end %>

    <h2><%= link_to "News & Events", posts_url %></h2>
    <p>
    <% @posts.each do |post| %>
      <article class="post">
        <h1><%= link_to post.title, post %></h1>
        <%= post.body.html_safe.to_s[0..100] %>
      </article>
    <% end %>
  </section>

  <section class="span3">
    <h2><%= link_to "Publications", publications_url %></h2>
    <% @publications.each do |publication| %>
      <article class="publication">
        <p><%= link_to image_tag(publication.cover.url, alt: publication.title), publications_url(anchor: "post_#{publication.id}") %></p>
      </article>
    <% end %>
  </section>

