
<div class="row">
  <div class="four columns">
    <h2>Ewhurst History Society</h2>
    <p>Ewhurst History Society has a regular <%= link_to "programme", programme_url %> of lectures from September to May and meets on the 3rd Tuesday of the month at Ewhurst Youth Sports Club (EYSC) at Ewhurst Recreation Ground. We also have social events and outings (see <%= link_to "News and events", posts_url %>). We have produced a number of <%= link_to "publications", publications_url %> on local history and have organised several local history exhibitions.</p>
    <p>The Society holds a collection of archive material, including photographs and information on various aspects of local history. Where possible we are willing to help with enquiries relating to family and local history and we are always interested to hear from people who may be able to help with our research.</p>

    <h2>From our Archives</h2>
    <%= image_tag "archives/children_on_the_mount.jpg" %>
    <p>Children on the mount, for the coronation of George V, 1911</p>
  </div>

  <div class="four columns">
    <h2><%= link_to "Journal", "/journal" %></h2>

    <ul>
      <% Page.where(slug: "journal").first.attachments.order(:published_at).limit(5).each do |attachment| %>
        <li><%= link_to attachment.title, attachment.file.url %></li>
      <% end %>
    </ul>

    <hr />

    <h2><%= link_to "First World War", "/ewhurst-in-the-great-war" %></h2>

    <%= link_to image_tag("world_war_one_logo.png", width: "100%"), "/ewhurst-in-the-great-war" %>
    <% if @current_first_world_war_page %>
      <p><%= link_to @current_first_world_war_page.title, @current_first_world_war_page.full_path %></p>
    <% end %>
  </div>

  <div class="four columns">
    <h2><%= link_to "Next meeting", programme_url %></h2>
    <% if @next_meeting %>
      <p>
      <%= @next_meeting.published_at.to_s(:calendar) %><br />
      <%= @next_meeting.title %>
      </p>
    <% else %>
      <p>The next programme meeting has yet to be scheduled</p>
    <% end %>

    <% unless @next_events.empty? %>
      <h2><%= link_to "Upcoming Events", programme_url %></h2>
      <% @next_events.each do |next_event| %>
        <p>
        <%= next_event.published_at.to_s(:calendar) %><br />
        <%= next_event.title %>
        </p>
      <% end %>
    <% end %>

    <h2><%= link_to "Publications", publications_url %></h2>
    <% @publications.each do |publication| %>
      <article class="publication">
        <p><%= link_to image_tag(publication.cover.url, alt: publication.title), publications_url(anchor: "post_#{publication.id}") %></p>
      </article>
    <% end %>
  </div>
</div>
