
<div class="row">
  <div class="ten columns offset-by-one">
    <h1><%= page_title "Ewhurst History Society Publications" %></h1>
  </div>
</div>

<% @publications.each do |publication| %>
  <div class="row">

    <div class="four columns offset-by-one publication_cover">
      <%= image_tag publication.cover.url %>
    </div>

    <div id="publication_<%= publication.id %>" class="six columns publication">
      <h1><%= publication.title %></h1>

      <%= publication.description.html_safe %>

      <% if publication.download? %>
        <%= link_to "Download #{publication.title} as a PDF", publication.download.url, target: "_blank" %>
      <% end %>
    </div>

  </div>
<% end %>
