<div class="row">
  <div class="span2">&nbsp;</div>
  <div class="span8">
    <h1><%= page_title "Ewhurst History Society Publications" %></h1>
  </div>
</div>

<% @publications.each do |publication| %>

  <div class="row">
    <div class="span2">&nbsp;</div>

    <div class="span3 publication_cover">
      <%= image_tag publication.cover.url %>
    </div>

    <div id="publication_<%= publication.id %>" class="span6 publication">
      <h1><%= publication.title %></h1>

      <%= publication.description.html_safe %>
    </div>

  </div>
<% end %>
