<nav>
  <%= link_to "Home", root_url %>
  <%= link_to "News", posts_url %>
  <%= link_to "Programme", "/programme" %>
  <%= link_to "Publications", publications_url %>

  <% Page.roots.published.each do |page| %>
    <%= link_to page.label, page.full_path %>
  <% end %>
</nav>
