
<div class="row">
  <div class="eight columns offset-by-two">

    <article class="page">
      <h1><%= page_title @page.title %></h1>

      <%= @page.body.html_safe %>

      <div class="images">
        <% @page.images_not_in_page.each do |img| %>
          <%= image_tag img.file.url %>
        <% end %>
      </div>
    </article>

    <div class="row">
      <% @page.children.published.group_by{ |page| page.published_at.year }.each do |year, pages| %>
        <div class="three columns">
          <h2><%= year - 100 %></h2>
          <ul>
            <% pages.sort_by(&:published_at).each do |page| %>
              <li><%= link_to page.title, page.full_path %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

  </div>
</div>
