<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title><%= yield :page_title %> - Ewhurst History Society</title>

  <meta name="description" content="Ewhurst History Society">
  <meta name="keywords" content="Ewhurst, history, society, Surrey, Cranleigh, Guildford, England, UK">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="controller_<%= controller.to_s %>">
  <div class="container">

    <%= render "shared/header" %>

    <%= render "shared/nav" %>

    <%= render "shared/subnav" %>

    <div class="row">
      <%= yield %>
    </div>

    <%= render "shared/footer" %>
  </div>

</body>
</html>
